<h1>Jobs (<%= @jobs.count %> total)</h1>

<table>
    <tr>
        <th>Location</th>
        <th>Destination</th>
        <th>Distance</th>
        <th title="Pay Per Nautical Mile">PPNM</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>

<% @jobs.each do |job| %>
    <tr>
        <td><%= job.location %></td>
        <td><%= job.toicao %></td>
        <td><%= job.distance %></td>
        <td><%= job.ppnm %></td>
        <td><%= link_to "Show", job %></td>
        <td><%= link_to "Edit", edit_job_path(job) %></td>
        <td><%= link_to "Remove", job, method: :delete, data: { confirm: "Are you sure?" } %></td>
    </tr>
<% end %>
</table>
