<!DOCTYPE html>
<html>
  <head>
    <title>Aviation Insights for FSEconomy</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <%= javascript_pack_tag 'vals_app' %>
  </head>
  <body>

    <div id="vals_app"></div>
    <footer>Have an issue with this project? <a href="https://gitlab.com/cthohl/aviation-insights-for-fseconomy/issues" target="_blank">Report it.</a></footer>

  </body>
</html>
